@font-face {
    font-family: 'iconfont';
    src: url('../lib/font/iconfont.eot');
    src: url('../lib/font/iconfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/font/iconfont.woff') format('woff'),
         url('../lib/font/iconfont.ttf') format('truetype'),
         url('../lib/font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont' !important;
    font-size: 0.68rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
    min-width: 320px;!important;
    max-width: 640px;!important;
    margin: 0;
}
.postForm{
    margin-top:1.054rem;
    /*左右padding*/
    padding: 0 1.073rem;
}
.postForm .col-100{
    width: 100%;
    height: 2.388rem;
    line-height: 2.388rem;
    background: #fff;
    font-size: 0.64rem;
    color: #000;
    vertical-align: middle;
}
.postForm .col-100 .lg_left{
    margin-left:0.341rem ;
    display: inline-block;
    height: 1.706rem;
    line-height: 1.706rem;
}
.lg_tel img{
    width:0.533rem;
    height:0.874rem ;
    position: relative;
    top:.19rem;
}
.lg_code img{
    width:0.768rem;
    height:0.6617rem ;
    position: relative;
    top:.15rem;
}
.col-100 input {
    outline: none;
    background: #fff;
    height: 1.706rem;
    width: 40%;
    margin-left: 0.68rem;
}
.postForm div:nth-of-type(1){
    border-bottom: 1px solid #bbbbbb;
}
.postForm div:nth-of-type(3){
    border-bottom: 1px solid #bbbbbb;
}
.getcode_btn{
    width: 5.128rem;
    height: 1.364rem;
    border-radius: 0.682rem;
    border: 1px solid white;
    font-size: 0.51rem;
    background: #fede0a;
    color: #fff;
    outline: none;
}
.getcode_btn:disabled{
    background: lightgrey;
}
.lp_loginBtn {
    width: 100%;
    height: 2.133rem;
    border-radius: 1.06rem;
    background-color: #fede0a;
    text-align: center;
    font-size: 0.75rem;
    color: #000;
    margin: 0 auto;
    display: block;
    border: none;
    margin-top: 2.816rem;
    outline: none;
}
.lp_loginBtn:disabled {/*伪类*/
     background: #dddddd;
 }
.tip span{
    width: 100px;
    color: red;
    margin: 0 auto;
    text-align: center;
}


/***** ****优惠券样式表***************/
#quan{
    padding: 0 1.073rem;
}
#quan .num{
    background: url("../images/Point_card@2x.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height:5.333rem;
    margin-top:1.706rem ;
}
.num span{
    position: absolute;
    bottom: .213rem;
    right: 0.895rem;
    font-size: 0.426rem;
    font-weight: 800;
    font-family: 微软雅黑;
    color: #1b2345;
}
#quan .coupon-num{
    background: url("../images/bg@2x.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: relative;
    height: 2.56rem;
    line-height: 2.56rem;
    margin-top: 0.064rem;
    text-align: center;
    font-size: 1.28rem;
    color: #ffffff;
    font-weight: 800;
    visibility: hidden;
}
.coupon-num .first{
    position: absolute;
    top:-0.626rem;
    left:0.52rem;
    font-size: 0.36rem;
    font-weight: 800;
    color: #1b2345;
}
#footer{
    margin-top:3.24rem ;
    margin-bottom: .6rem;
    font-size: .512rem;
    color: #999;
    padding: 0 1.073rem;
    /**letter-spacing: .2rem;*/
}