<!DOCTYPE html>
<html lang="en">
<head>
	<title>领取优惠券</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta content="telephone=no" name="format-detection">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="on" http-equiv="cleartype">

	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/coupon.css">
	<!--[if lt IE 9]>
    <script src="lib/html5shiv/dist/html5shiv.min.js"></script>
    <script src="lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="quanApp" ng-controller="QuanController">

	<form name="postForm" class="postForm" novalidate>
		<!--请输入您的手机号-->
	    <div class="col-100">
	        <span class="lg_tel lg_left iconfont"><img src="images/phone.png" alt=""></span>
	        <input type="text"
				   class="lg_phone"
				   placeholder="请输入您的手机号"
	               autocomplete="off"
				   name="phone"
	               ng-model="user.tel"
	               ng-pattern="/^1\d{10}$/" required>
	    </div>
	    <div class="col-100 tip" ng-show="postForm.phone.$dirty && postForm.phone.$invalid">
	        <span>请输入11位手机号码</span>
	    </div>

		<!--请输入验证码-->
	    <div class="col-100">
	        <span class="lg_code lg_left iconfont"><img src="images/code.png" alt=""></span>
	        <input type="text"
				   class="lg_checkCode"
				   placeholder="请输入验证码"
	               autocomplete="off"
				   name="code"
	               ng-model="user.code"
	               ng-pattern="/^\d{6}$/"
	               ng-disabled="!isTiming" required>
	        <button id="ma" class="getcode_btn" ng-bind="btnText" ng-click="getCode()" ng-disabled="isTiming"></button>
	    </div>
	    <div class="col-100 tip" ng-show="postForm.code.$dirty && postForm.code.$invalid">
	        <span>请输入6位验证码</span>
	    </div>
	    <button class="lp_loginBtn" ng-disabled="postForm.$invalid" ng-click="submit()">
	    	确认领取
	    </button>
	</form>

	<footer>
		<div id="quan">
			<div class="num">
				<span>2016.12.31--2017.01.02</span>
			</div>
			<div class="coupon-num">
				<span class="first">序列号</span>
				<span class="second" ng-model="coupon"></span>
			</div>
		</div>
		<div id="footer">
			<p>使用说明：1.本积点卡限2016.12.31日至2017.3.18日期间使用，逾期作废；
				2.限1-8楼购买积点商品使用，特例商品除外。
				3.此券码建议立即到6F服务区兑换实体优惠卡或截屏保存，若遗失请重新验证领取。
				4.本活动仅对2016年12月31日至2017年3月18日期间新世界城新注册会员有效，每人限领一张。
				5.本活动最终解释权归上海木空网络科技有限公司所有。
			</p>
		</div>
	</footer>

	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/coupon.js"></script>
</body>

</html>