<!DOCTYPE html>
<html lang="en">
<head>
	<title>领取优惠券</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/coupon.css">
	<!--[if lt IE 9]>
    <script src="lib/html5shiv/dist/html5shiv.min.js"></script>
    <script src="lib/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="quanApp" ng-controller="QuanController">

	<form name="postForm">

	    <div class="col-100 lg_show lg_buttom">
	        <span class="lg_tel lg_left iconfont"><img src="images/phone.png" alt=""></span>
	        <input type="text" class="lg_phone" placeholder="请输入您的手机号"
	               autocomplete="off" name="phone"
	               ng-model="tel"
	               ng-required="true"
	               ng-pattern="/^1\d{10}$/"/>
	    </div>

	    <div class="col-100 lg_hide" ng-show="loginForm.phone.$dirty&&loginForm.phone.$invalid"
	         ng-messages="loginForm.phone.$error" ng-class="'errorMsg'">
	        <span ng-message="required" ng-bind="'请填写手机号'"></span>
	        <span ng-message="pattern" ng-bind="'请输入11位手机号码'"></span>
	    </div>

	    <div class="col-100 lg_show lg_buttom">
	        <span class="lg_code lg_left iconfont"><img src="images/code.png" alt=""></span>
	        <input type="text" class="lg_checkCode" placeholder="请输入验证码"
	               autocomplete="off" name="code"
	               ng-model="user.code"
	               ng-required="true"
	               ng-pattern="/^\d{6}$/"
	               ng-disabled="!isTiming"
	               />
	        <button id="ma" class="lg_btn btn" ng-bind="btnText" ng-click="getCode()" ng-disabled="isTiming"></button>
	    </div>

	    <div class="col-100 lg_hide " ng-show="loginForm.code.$dirty&&loginForm.code.$invalid"
	         ng-messages="loginForm.code.$error" ng-class="'errorMsg'">
	        <span ng-message="required" ng-bind="'请输入验证码'"></span>
	        <span ng-message="pattern" ng-bind="'请输入6位验证码'"></span>
	    </div>

	    <button class="lp_loginBtn btn" ng-disabled="loginForm.$invalid" ng-click="submit()">
	    	确认领取
	    </button>
	</form>

	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-messages/angular-messages.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">

	</script>
</body>

</html>